body{
    background-color: darkcyan;
    display: grid;
}

.page{
    display: block;
    height: 100%;
    width: 98%;
    min-height: 800px;
    min-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-color: blueviolet;
}

.settings_panel{
    background-color: darkgreen;
    width: 32%;
    top: 50px;
    float: left;
    display: block;
    margin-left: 1%;
}

#temporary_name_label{
    float: left;
}

.accept_temporary_name_button{
    float: left;
}

#temporary_name_input{
    float: left;
    margin-left: 2%;
}

.battle_panel{
    width: 32%;
    min-width: 50px;
    min-height: 50px;
    height: 80%;
    margin-left: 1%;
    float: left;
    background-color: azure;
}

.player_panel{
    width: 32%;
    min-width: 50px;
    min-height: 50px;
    height: 100%;
    margin-left: 1%;
    float: left;
    background-color: chocolate;
}

.title{
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    width: 100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.left_player_panel, .right_player_panel{
    width: 20%;
    min-width: 50px;
    height: 100%;
    min-height: 100px;
    /* background-color: blanchedalmond; */
    float: left;
    display: grid;
}

.center_player_panel{
    width: 60%;
    min-width: 50px;
    height: 100%;
    min-height: 50px;
    float: left;
    /* background-color: crimson; */
}

.upper_player_panel{
    height: 75%;
    width: 100%;
}
.bottom_player_panel{
    width: 100%;
    min-width: 100px;
    height: 25%;
    min-height: 100px;
    /* background-color: blanchedalmond; */
    bottom: 0;
    margin-top: 0;
}

.bottom_player_item_panel{
    height: 100%;
    width: 80%;
    float: right;
}

.player_inventory_panel{
    width: 100%;
    height: 40%;
    background-color: yellowgreen;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    border: 1% solid red;
}

.player_item{
    width: 70px;
    height: 70px;
    min-width: 70px;
    min-height: 70px;
    background-color: black;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}
.player_item:hover{
    background-color: orangered;
}

.player_inventory_item{
    background-color: saddlebrown;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 70px;
    height: 70px;
    min-width: 70px;
    min-height: 70px;
}
.player_inventory_item:hover{
    background-color: orangered;
}

.player_item_hand{
    width: 70px;
    height: 70px;
    background-color: black;
    margin-top: 4%;
    float: left;
    margin-left: 10%;
    left: 10%;
}

.player_item_hand:hover{
    background-color: orangered;
}

.player_equip_panel{
    background-color: yellowgreen;
    height: 60%;
    display: block;
}

.player_statistics{
    margin-top: 2%;
    background-color: darkgoldenrod;
    text-align: center;
}

.statistic{
    width: 100%;
}

.player_statistic_hp{
    display: inline;
}

.fight_button{
    margin-left: auto;
    margin-right: auto;
    height: 70%;
    margin-top: 10px;
}

.battle{
    width: 90%;
    height: 60%;
    background-color: yellow;
    margin-left: auto;
    margin-right: auto;
}

.fight_button_panel{
    display: grid;
    min-height: 20px;
    height: 10%;
    background-color: yellowgreen;
}

.skills_panel{
    height: 30%;
    min-height: 30px;
    width: 100%;
    background-color: cadetblue;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.opponet_panel{
    background-color: darkgray;
    width: 50%;
    height: 100%;
    float: left;
}

.opponent{
    background-color: bisque;
    width: 100%;
    height: 90%;
}

.opponent_hp{
    background-color: coral;
    height: 10%;
    width: 100%;
    display: block;
    text-align: center;
}

.enemy_statistic{
    /* background-color: darkgreen; */
    height: 100%;
    width: 35%;
    float: left;
    font-weight: 600;
    margin-top: 2%;
    margin-left: 15%;
}

#opponent_hp_label{
    text-align: center;
    height: 100%;
    background-color: gold;
}

.opponent_image{
    margin-left: 1%;
    margin-top: 1%;
}

.enemy_statistic_label{
    margin-left: 15%;
}

.information_panel{
    height: 25%;
    min-height: 30px;
    width: 100%;
    background-color: moccasin;
    text-align: center;
}

.information_dmg{
    display: none;
}

.drop_item{
    width: 70px;
    height: 70px;
    min-width: 70px;
    min-height: 70px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}